* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: neue-haas-grotesk-display, sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page1 h1 {
    font-size: 8vw;
    line-height: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    /* background-color: red; */
}

.page1 h1 svg {
    height: 5.2vw;
    width: 5.2vw;
    background-color: #0BA34E;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.page1 h1 svg:hover {
    transform: rotate(-40deg);
}

.page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

#something {
    display: flex;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    border: 1px solid #ffffff52;
    padding: 5px 10px;
    border-radius: 15px;
}

#something h4:nth-last-child(2) {
    border: none;
    padding: 2px;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 6.4vw;
    justify-content: space-between;
    background-color: #111;
    /* background-color: aqua; */
    height: 12vh;
    z-index: 10;
}

.nav-part2 {
    width: 65%;
    display: flex;
    gap: 1.8vw;
    align-items: flex-start;
    padding-top: 1vh;
    position: relative;
    justify-content: center;
    z-index: 10;
    /* background-color: red; */
}

.nav-part2 h4 {
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.nav-elem h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-elem h5 span {
    font-size: 0.89vw;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
}

.nav-bottom {
    width: 88%;
    top: 100%;
    height: 0;
    background-color: #111;
    position: absolute;
    z-index: 9;
    border-bottom: 1px solid #dadada;
}

.nav-elem h4:hover {
    color: rgba(255, 255, 255, 0.532);
    /* cursor: pointer; */
    transition: all ease 0.2s;
}

.nav-elem h5 span:hover {
    color: rgba(255, 255, 255, 0.532);
    cursor: pointer;
    transition: all ease 0.2s;
}

nav button {
    background-color: #0BA34E;
    color: white;
    display: flex;
    align-items: center;
    padding: 3px 13px;
    border-radius: 50px;
    border: none;
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 700;
}

nav button svg {
    height: 2vw;
    margin-left: 0.5vw;
}


#moving-div {
    position: absolute;
    overflow: hidden;
    padding: 1vw;
    bottom: 7%;
    white-space: nowrap;
    width: 55%;
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 2vw;
    margin: 0 0.7vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.blur-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, #111, transparent);
    z-index: 2;
}

.blur-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, transparent, #111);
    z-index: 2;
}



.page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #333;
}

.page2-left {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vw 0;
}

.page2-left p {
    font-size: 1.3vw;
    font-weight: 700;
}

.page2-left h5 {
    font-size: 1.5vw;
    font-weight: 500;
    width: 80%;
}

.page2-right {
    height: 100%;
    width: 50%;
}

.right-elem {
    position: relative;
    padding-top: 1vw;
    padding-bottom: 6vw;
    border-top: 2px solid #434343;
    transition: 0.5s all ease;
}

.right-elem h2 {
    font-size: 2vw;
    font-weight: 600;
}

.right-elem img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

.right-elem:hover {
    cursor: pointer;
    border-top: 2px solid #ffffff;
}

.page3 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #111;
    background: url(https://images.unsplash.com/photo-1605810230434-7631ac76ec81?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-center {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #ffffff;
}

.icon i {
    color: black;
    font-size: 4vw;
}

.page3-center h5 {
    background-color: #dadada;
    color: black;
    border-radius: 50px;
    font-size: 1.2vw;
    padding: 7px 15px;
    opacity: 0;
    transition: 0.3s all ease;
    transform: translateY(10%);

}

.page3-center:hover .h5-watch {
    opacity: 1;
    transform: translateY(0);

}

.page3-center:hover {
    cursor: pointer;
}

.page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.8) scaleY(0.1);
    opacity: 0;
    border-radius: 30px;
    z-index: 999;
}

.page4 {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 7.5vw;
    padding-right: 5vw;
    padding-left: 5vw;
}

.page4-left {
    width: 40%;
}

.page4-left h2 {
    font-size: 3.5vw;
    line-height: 3.3vw;
    font-weight: 600;
    padding: 1vw 2vw;
    line-height: 3.3vw;
    color: black;
}

.page4-right {
    width: 52%;
    /* background-color: #333; */
    padding: 2vw 1vw;
}

.right-el h5 {
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2.5vw;
}

.right-el p {
    color: #000000;
    font-size: 1.5vw;
    font-weight: 300;
    padding-bottom: 2.5vw;
    line-height: 1.8vw;
    /* letter-spacing: 0vw; */
    word-spacing: 0.3vw;
}

.page5 {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    padding: 2vw 6.5vw;
}

.card {
    background-color: #F5F5F5;
    padding: 0 2vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card1-1 h1 {
    font-size: 5vw;
    font-weight: 400;
    color: black;
}

.card1-1 p {
    color: black;
    font-size: 1vw;
}

.card1-2 p {
    color: #AEAEAE;
}

.page6 {
    height: 70vh;
    width: 100%;
    display: grid;
    padding: 6vw;
    grid-template-columns: 1fr 3fr;
    padding-left: 30vw;
    padding-top: 10vw;
    padding-bottom: 15vw;
}

.slim1 {
    font-size: 1vw;
    padding: 0 4vw;
    padding-top: 2vw;
    height: 6vw;
    width: 100%;
    color: black;
}

.slim2 {
    height: 6vw;
    width: 100%;
}

.slim2 p {
    font-size: 2.1vw;
    color: black;
    height: 6vw;
    width: 100%;
    padding-top: 1.3vw;
}

.slim {
    color: black;
}

.slim3 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 6vw;
    width: 100%;
    font-size: 2.1vw;
    padding: 0 4vw;
}

.slim3 p {
    color: black;
}

.page7 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 5vh;
}

.section {
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 8vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    border-top: 2px solid #333;
}

.sec-left h2 {
    font-size: 2vw;
    margin-top: 3vh;
    font-weight: 500;
    color: black;
}

.sec-left p {
    font-size: 1.2vw;
    margin-top: 15vh;
    font-weight: 500;
    color: black;
}

.sec-right {
    height: 100%;
    width: 68%;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    /* transition: opacity ease 0.3s; */
}

.page8{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 5vh 10vw;
    border-bottom: 2px solid white;
}
.page8>button{
    background-color: #0BA34E;
    padding: 1vw 1vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}
.page8-right{
    width: 70%;
}
.page8-right>p{
    font-size: 2.1vw;
}
.page8-right>p span{
    width: 15vw;
    display: inline-block;
    font-size: 1vw;
}

.page8-cont{
    /* background-color: red; */
    width: 100%;
    margin-top: 5vh;
    padding: 10vh 0;

}
.page8-cont h1{
    font-size: 3vw;
    padding-top: 2VW ;

}
.page8-cont .flex{
    display: flex;
}
.page8-cont .flex h4{
    border: 1px solid rgb(116, 116, 116);
    border-radius: 52px;
    padding: 0.4vw 0.9vw;
    margin-top: 3vw;
}
.page8-container{
    margin-top: 4vw;

}
.page8-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 3vw;
    border-top: 1.5px solid rgb(131, 131, 131);
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    
    
}
.uiux{
    border-top: 2px solid white;
    padding-bottom: 4vw;
}
.product{
    border-top: 2px solid white;
}
.page8-container p{
    width: 60%;
    font-size: 1vw;
    position: relative;
    z-index: 8;
}
.page8-container h3{
    font-size: 1.8vw;
    font-weight: 300;
    position: relative;
    z-index: 8;
    transition: 0.3s ease;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
}
.page8-container i{
    position: relative;
    z-index: 8;
    font-size: 1.5vw;
    transition: 0.3s ease;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
}
.over{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:#1F1F1F;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
    
}
.page8-elem:hover h3{
   padding-left: 1vw;

}
.page8-elem:hover i{
    padding-right: 1vw;

}
.page8-elem:hover .over{
    transform: translateY(0);
    opacity: 1;
    /* border-top: 1.5px solid white; */
}
.page8-elem:hover{
    border-top: 1.5px solid white;
    cursor: pointer;
}
summary{
    transition: all ease 0.5s;
}
summary::marker{
    content: "";
    display: none ;
}
summary:hover{
    cursor: pointer;
}

.page9{
    height: 100vh;
    width: 100%;
    background-color: #111;
}